In [1]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [8]:
df=pd.read_csv("/content/report_2018-2019.csv")

In [9]:
df.head()

,Overall rank,Country or region,Year,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,154,Afghanistan,2019,3.203,0.350,0.517,0.361,0.000,0.158,0.025
1,145,Afghanistan,2018,3.632,0.332,0.537,0.255,0.085,0.191,0.036
2,107,Albania,2019,4.719,0.947,0.848,0.874,0.383,0.178,0.027
3,112,Albania,2018,4.586,0.916,0.817,0.790,0.419,0.149,0.032
4,88,Algeria,2019,5.211,1.002,1.160,0.785,0.086,0.073,0.114

In [10]:
df[['Score','Generosity']].describe()

            Score  Generosity
count  312.000000  312.000000
mean     5.391506    0.182926
std      1.114631    0.096739
min      2.853000    0.000000
25%      4.514250    0.108750
50%      5.379500    0.175500
75%      6.176000    0.245000
max      7.769000    0.598000

In [12]:
#value=146 refers to the null hypothesis value for the variable
ztest ,pvalue = stests.ztest(df['GDP per capita'], x2=None, value=146)
print(float(pvalue))
print(ztest)

0.0
-6495.33042690664

In [13]:
if pvalue<0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis rejected , Alternative hypothesis accepted

In [14]:
ztest,pval1=stests.ztest(df['Score'],df['Generosity'],value=100)
print(float(pval1))

0.0

In [15]:
if pval1>0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis accepted , Alternative hypothesis rejected